.skills-container {
    margin-top: 0.2rem;
}

.skills-title {
    margin: 1rem 0 0.5rem 0 !important;
    font-size: 0.9rem !important;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    display: inline-block;
}

/* Rejilla de habilidades */
.skills-grid {
    display: grid;
    grid-auto-columns: minmax(80px, 1fr);
    grid-auto-flow: column;
    gap: 1px;
    margin-bottom: 1rem;
}

/* Estilo de las cajas (Box) */
.skill-box {
    padding: 5px;
    text-align: center;
    font-weight: bold;
    color: #ffffff;
    border-radius: 4px;
    transition: transform 0.3s ease;
    font-size: 0.85rem;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 42px;
}

.skill-box:hover {
    transform: translateY(-5px);
    filter: brightness(1.1);
}

.design {
    background-color: #482286;
}

.frontend {
    background-color: #5b2aa9;
}

.backend {
    background-color: #6931c4;
}

.tools {
    background-color: #7838df;
}

.management {
    background-color: #8b47f9;
}

/* Tarjeta de Experiencia */

.experience-card {
    display: flex;
    background: rgba(167, 235, 242, 0.5);
    border-radius: 12px;
    overflow: hidden;
    margin-top: 1.5rem;
    transition: all 0.3s ease;
}

.experience-card:hover {
    background: rgba(167, 235, 242, 0.8);
    transform: translateY(-3px);
}

/* imagen */
.exp-image {
    flex: 0 0 40%;
    position: relative;
    min-height: 200px;
    overflow: hidden;
}

.exp-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.exp-image .badge {
    position: absolute;
    top: 10px;
    left: 10px;
    background: #a7ebf2;
    padding: 4px 12px;
    border-radius: 20px;
    font-size: 0.7rem;
    font-weight: bold;
}

/* Información del trabajo */
.exp-info {
    color: #023859;
    padding: 1.5rem;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.exp-header {
    display: flex;
    justify-content: space-between;
    font-size: 0.75rem;
    color: #023859;
    margin-bottom: 0.5rem;
}

.exp-role {
    font-size: 1.2rem !important;
    margin: 0 0 1rem 0 !important;
    color: #011c40;
    letter-spacing: 0px;
}

.exp-description {
    font-size: 0.85rem;
    line-height: 1.6;
    margin-bottom: 1rem;
}

.exp-tags {
    display: flex;
    gap: 8px;
    margin-bottom: 1.5rem;
}

.exp-tags span {
    font-size: 0.8rem;
    background: rgba(2, 56, 89, 0.7);
    padding: 2px 8px;
    border-radius: 4px;
    color: white;
}

.exp-link {
    align-self: flex-start;
    padding: 8px 16px;
    border: 1px solid #023859;
    border-radius: 6px;
    color: #023859 !important;
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: bold;
    transition: 0.3s;
}

.exp-link:hover {
    background: #023859;
    color: #fff !important;
}

/* Contenedor de la línea de tiempo */
.education-timeline {
    position: relative;
    padding-left: 30px;
    margin-top: 1.5rem;
}

/* La línea vertical */
.education-timeline::before {
    content: '';
    position: absolute;
    left: 0;
    top: 5px;
    width: 2px;
    height: 90%;
    background: rgba(255, 255, 255, 0.1);
}

.edu-item {
    position: relative;
    margin-bottom: 2.5rem;
}

/* El punto de la línea de tiempo */
.edu-dot {
    position: absolute;
    left: -34px;
    top: 5px;
    width: 10px;
    height: 10px;
    background: #540863;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(199, 102, 247, 5);
}

.edu-content {
    display: flex;
    flex-direction: column;
}

.edu-year {
    font-size: 0.75rem;
    color: #540863;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 5px;
}

.edu-title {
    font-size: 1.1rem !important;
    margin: 0 !important;
    color: #540863;
    letter-spacing: 0px !important;
    text-transform: none !important;
}

.edu-school {
    font-size: 0.9rem;
    color: #540863;
    margin-bottom: 8px;
    font-style: italic;
}

.edu-info {
    font-size: 0.85rem;
    line-height: 1.4;
    color: #540863;
    margin: 0;
}

@media screen and (max-width: 480px) {
    .skills-title {
        font-size: 0.75rem !important;
        /* Título más pequeño */
        margin: 1rem 0 0.8rem 0 !important;
    }

    .skills-grid {
        gap: 1px;
        /* Menos espacio entre cajas */
    }

    .skill-box {
        min-height: 40px;
        font-size: 0.70rem;
    }

    .experience-card {
        flex-direction: column;
        /* Se apila en vertical en celulares */
    }

    .exp-image {
        flex: 0 0 150px;
    }

    .exp-info {
        padding: 1rem;
    }

    .edu-title {
        font-size: 1rem !important;
    }

    .education-timeline {
        padding-left: 25px;
    }
}